DATABASE_URL=
# Generate secret: npx auth@latest secret
BETTER_AUTH_SECRET=
BETTER_AUTH_GOOGLE_CLIENT_ID=
BETTER_AUTH_GOOGLE_CLIENT_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=hello@pandatrack.app
KIT_API_KEY=
KIT_TAG_ID_ES=
KIT_TAG_ID_EN=
KIT_TAG_ID_APP_USER=
KIT_TAG_ID_WAITLIST=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
GOOGLE_APPS_SCRIPT_WAITLIST_WEB_APP_URL=
NEXT_PUBLIC_SITE_URL=https://pandatrack.app
